shrot:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: gitlab
  pool: 5
  username: {{ mysql_username }}
  password: {{ mysql_password }}
  # host: localhost
  # socket: /tmp/mysql.sock
